<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="cb-footer">
  <div class="cb-container">

    <!-- LINE -->
    <div class="cb-footer-line"></div>

    <!-- TOP FOOTER -->
    <div class="cb-footer-grid">

      <!-- CINEBOOKING -->
      <div class="cb-footer-col">
        <h4>CineBooking</h4>
        <ul>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Tiện ích online</a></li>
          <li><a href="#">Ưu đãi & Combo</a></li>
          <li><a href="#">Tuyển dụng</a></li>
          <li><a href="#">Liên hệ quảng cáo</a></li>
          <li><a href="#">Dành cho đối tác</a></li>
        </ul>
      </div>

      <!-- ĐIỀU KHOẢN -->
      <div class="cb-footer-col">
        <h4>Điều khoản sử dụng</h4>
        <ul>
          <li><a href="#">Điều khoản chung</a></li>
          <li><a href="#">Điều khoản giao dịch</a></li>
          <li><a href="#">Chính sách thanh toán</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Quy định tại rạp</a></li>
          <li><a href="#">Câu hỏi thường gặp</a></li>
        </ul>
      </div>

      <!-- KẾT NỐI -->
      <div class="cb-footer-col">
        <h4>Kết nối với chúng tôi</h4>
        <div class="cb-footer-social">
          <a href="#">Facebook</a>
          <a href="#">YouTube</a>
          <a href="#">TikTok</a>
          <a href="#">Zalo</a>
        </div>
 
      </div>

      <!-- CSKH -->
      <div class="cb-footer-col">
        <h4>Chăm sóc khách hàng</h4>
        <p>Hotline: <b>1900 9999</b></p>
        <p>Giờ làm việc: 8:00 – 22:00<br>(Kể cả Thứ 7, CN & Lễ)</p>
        <p>Email hỗ trợ: <br><b>support@cinebooking.vn</b></p>
      </div>

    </div>

    <!-- BOTTOM FOOTER -->
    <div class="cb-footer-bottom">
      <p>
        <b>CINEBOOKING</b> 
        © 2026 CineBooking. All rights reserved.
      </p>
    </div>

  </div>
</footer>

</html>
